{% extends "base.html" %}
{% block content %}
<h1>Projected Points - {{player.name}} - <a href="{{ url_for('positional', position = player.position) }}">{{ player.position}}</a>  </h1>
{% if player.batter_position is not equalto(SP) or player.batter_position is not equalto(RP) %}
<div class="row">
        <table class="table table-hover">
            <tr>
                <th>PA</th>
                <th>AB</th>
                <th>R</th>
                <th>H</th>
                <th>1B</th>
                <th>2B</th>
                <th>3B</th>
                <th>HR</th>
                <th>RBI</th>
                <th>SB</th>
                <th>CS</th>
                <th>BB</th>
                <th>SO</th>
                <th>AVG</th>
                <th>OBP</th>
                <th>SLG</th>
                <th>OPS</th>
                <th>F-Pts</th>
                <th>Pts/PA</th>
            </tr>
            <tr>
                <td>{{player.batter_pa}}</td>
                <td>{{player.batter_ab}}</td>
                <td>{{ player.batter_r}}</td>
                <td>{{player.batter_hit}}</td>
                <td>{{player.batter_single}}</td>
                <td>{{player.batter_double}}</td>
                <td>{{player.batter_triple}}</td>
                <td>{{ player.batter_hr | round}}</td>
                <td>{{ player.batter_rbi | round}}</td>
                <td>{{ player.batter_sb | round}}</td>
                <td>{{player.batter_cs}}</td>
                <td>{{player.batter_bb}}</td>
                <td>{{player.batter_k}}</td>
                <td>{{ player.batter_avg | round(3,'common')}}</td>
                <td>{{ player.batter_obp | round(3,'common')}}</td>
                <td>{{player.batter_slg | round(3,'common')}}</td>
                <td>{{player.batter_ops | round(3,'common')}}</td>
                <td>{{ player.fantasy_points | round}}</td>
                <td>{{player.fpts_per_pa | round(2,'common')}}</td>
{% else %}
<div class="row">               
    <table class="table table-hover">
        <tr>
            <th>W</th>
            <th>L</th>
            <th>IP</th>
            <th>H</th>
            <th>BB</th>
            <th>K</th>
            <th>ER</th>
            <th>SV</th>
            <th>ERA</th>
            <th>WHIP</th>
            <th>K/9</th>
            <th>QS</th>
            <th>GS</th>
            <th>F-Pts</th>
            <th>Pts/IP</th>
        </tr>
        <tr>
            <td>{{ player.pitcher_w | round}}</td>
            <td>{{ player.pitcher_l | round}}</td>
            <td>{{player.pitcher_ip | round(2,'common')}}</td>
            <td>{{player.pitcher_hit| round}}</td>
            <td>{{player.pitcher_bb | round}}</td>
            <td>{{ player.pitcher_k | round}}</td>
            <td>{{player.pitcher_er | round}}</td>
            <td>{{ player.pitcher_s | round}}</td>
            <td>{{ player.pitcher_era | round(2,'common')}}</td>
            <td>{{ player.pitcher_whip | round(2,'common')}}</td>
            <td>{{player.pitcher_k9 | round(2,'common')}}</td>
            <td>{{player.pitcher_qs | round}}</td>
            <td>{{player.pitcher_gs | round}}</td>
            <td>{{ player.fantasy_points | round}}</td>
            <td>{{player.fpts_per_ip | round(2,'common')}}</td>
{% endif %}
            </tr>
        </table>
    </div>
</div>

{% endblock %}