{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}
<h1>Player Search</h1>
<div class="row">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>AVG<br>ERA</th>
                <th>OBP<br>WHIP</th>
                <th>HR<br>W</th>
                <th>RBI<br>L</th>
                <th>R<br>K</th>
                <th>SB<br>SV</th>
                <th>Projected Points</th>
            </tr>
{% for player in players %}
{{ macros.render_players(player) }}
{% endfor %}
        </table>
    </div>
</div>

{% endblock %}